<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}>
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <header class="navbar">
        <h1>AudioBot</h1>
        <h5>login</h5>
        <h5>chatbot</h5>
        <h5>ai</h5>
        <!-- <div id="line"></div> -->
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/ESPN_logos.png" alt=""> -->
        <!-- <div id="line"></div> -->
        <h5>about</h5>
        <h5>contact</h5>
    </header>

    <main>
        <!-- all the content for the website -->
    </main>

    <footer>
        <!--  -->
    </footer>
    <div id="main">
        <div id="content">
            <div id="left">
                <div id="h1">AOBT: From Spoken<span> Words </span>to Infinite<span> Worlds</span>.</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quia sunt ex animi laborum dicta sit minus delectus et pariatur.</p>

                <div class="wrapper">
                    <a href="#"><span>Call AOBT! <i class="ri-customer-service-2-line"></i></span></a>
                </div>
            </div>
            <div id="center">
                <div id="center-bg">
                    <img src="aakash.jpg" alt="picture here">
                </div>
            </div>
            <div id="right"></div>
        </div>
    </div>
    
</body>
</html>