<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Loading page</title>
</head>

<body>
    <h1 class="centered">Loading page...</h1>

    <p class="centered">Users will be mesmerised by this beautiful animation while your Python slow_loading_function()
        runs quietly in
        the
        background.
    </p>
    <div class="centered">
        <div class="lds-facebook">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <p class="centered">Once the job is done, Flask will load the "results.html" page.</p>
</body>
<script>window.location.href = "{{ url_for('ai') }}";</script>

</html>